<form >
    <mat-form-field class = "search">
        <mat-label>Buscar por</mat-label>
        <mat-select class="select">
            <mat-option value="name">Nome</mat-option>
            <mat-option value="documento">Documento</mat-option>
            <mat-option value="phone">Telefone</mat-option>
        </mat-select> 
    </mat-form-field>
    <mat-form-field class = "input">
        <input matInput placeholder="Digite aqui" />
    </mat-form-field>
    <button mat-flat-button type = "submit" class = "primary" color="accent">
        <mat-icon >search</mat-icon>
        Buscar</button>
    
  </form>

